/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

p{
	text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.pokemontool-PokemonSelector{
    border-radius: 5px;
    background-color: #f2fff2;
    color: green;
    border: 5px solid green;
    width: 75px;
    height: 90px;
    table-layout: fixed;
}

.pokemontool-SelectorText{
	font-size:1vw;
}

.pokemontool-PokemonTypeChart{
    border-radius: 5px;
    color: green;
    border: 5px solid green;
    border-collapse: collapse;
}
.pokemontool-PokemonTypeCell{
    border: 2px solid grey;
    color: black;
    text-align: center;
}

.pokemonChart{
    font-family: "Courier New", Courier, Monospace;

}

.notVeryEffective {
  background-color: #ff3e3e;
  color: white;
}
.evenLessEffective {
  background-color: red;
  color: white;
}
.unEffective {
  background-color: black;
  color: white;
}

.superEffective {
  background-color: #00d200;
  color: white;
}
.ultraEffective {
  background-color: green;
  color: white;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
